<div class="items-container">
	<mat-card *ngFor="let item of items">

        <mat-card-header>
            <mat-card-title>{{ item.name }}</mat-card-title>
            <mat-card-subtitle>Цена: {{ item.price }}</mat-card-subtitle>
        </mat-card-header>

        <img
            mat-card-image
            [src]="item.photos[0]" />

        <mat-card-footer>
        	<div class="description">{{ item.description }}</div>

        	<div>
        		<button
        			mat-raised-button
        			(click)="showMore(item)">

        			Подробнее
        		</button>

        		<button
                    (click)="addtocart(item)"
        			mat-raised-button
        			color="primary">

        			В корзину
        		</button>
        	</div>
        </mat-card-footer>    
    </mat-card>
</div>