<mat-form-field>
  <input matInput [matDatepicker]="pickerFrom" placeholder="С" (dateChange)="fromDateChange($event)">
  <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
  <mat-datepicker #pickerFrom></mat-datepicker>
</mat-form-field>

<mat-form-field>
  <input matInput [matDatepicker]="pickerTo" placeholder="По" (dateChange)="toDateChange($event)">
  <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
  <mat-datepicker #pickerTo></mat-datepicker>
</mat-form-field>

<button
mat-raised-button
[disabled] = "datefrom == null || dateto == null"
class = "apply-btn"
(click)="getorders()"
color="primary">
  Сформировать
</button>

<button
mat-raised-button
[disabled] = "datefrom == null || dateto == null"
class = "apply-btn"
(click)="print()"
color="primary">
  Печать
</button>

<div id="orders">
	<table border="1">
		<thead>
			<tr>
				<th rowspan="2">Имя</th>
				<th rowspan="2">email</th>
				<th colspan="3">Товар</th>
				<th rowspan="2">Дата</th>
			</tr>

			<tr>
				<th>Название</th>
				<th>Количество</th>
				<th>Цена</th>
			</tr>
		</thead>

		<tbody>
			<ng-container *ngFor = "let order of orders">
				<tr>
					<td [attr.rowspan]="order.items.length">{{ order.name }}</td>
					<td [attr.rowspan]="order.items.length">{{ order.email }}</td>
					<td>{{ order.items[0].name }}</td>
					<td>{{ order.items[0].count }}</td>
					<td>{{ order.items[0].price }}</td>
					<td [attr.rowspan]="order.items.length">{{ order.date }}</td>
				</tr>

				<tr *ngFor="let item of order.items | slice:1">
					<td>{{ item.name }}</td>
					<td>{{ item.count }}</td>
					<td>{{ item.price }}</td>
				</tr>

				<tr>
					<td colspan="4">Итого: {{order.totalprice}}</td>
				</tr>
			</ng-container>
		</tbody>
	</table>
</div>